

<script>
function loadXMLDoc()
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("myDiv").innerHTML="xmlhttp.responseText";
    }
  }
xmlhttp.open("GET","/numberup",true);
xmlhttp.send();
}
</script>

<div id="myDiv"><h2>Let AJAX change this text</h2></div>
<button type="button" onclick="loadXMLDoc()">Change Content</button>

<br>
<br>

<button id="on">
  On
</button>
<button id="off">
  Off
</button>
<button id="goingup">
  numberup
</button>
<br>
<br>

<input style="position:relative; top:0px; bottom:0px; left:0px; right:0px; line-height:720px; font-size:700px; opacity:0.2" type="text" id="numberBig" value="0"/>

<br>
<br>
<br>
<input type="button" id="boofah" onclick="incrementValueBig()", value="Increment Value Big" />


<script>

  $('#on').click(function(){
    $.get('/on')
  });

  $('#off').click(function(){
    $.get('/off')
  });

  $('#goingup').click(function(){
    $.get('/numberup')
  });

  var pusher = new Pusher('<%= Pusher.key %>');
  var channel = pusher.subscribe('button');


  channel.bind('up', function(data) {
    var value = parseInt(document.getElementById('numberBig').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('numberBig').value = value;
    $('body').css({background: 'white'});
    if (document.getElementById('numberBig').value == 11)
    {document.getElementById('numberBig').value = "Nicole is awesome";}
  });
  channel.bind('down', function(data) {
    $('body').css({background: 'red'})
  });








  function incrementValueBig()
  {
    var value = parseInt(document.getElementById('numberBig').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('numberBig').value = value;

  }







</script>
