<!DOCTYPE html>
<html>
<head>
  <title>Arduino Web Page</title>
  <script>
  function GetSwitchState()
  {
    nocache = "&nocache=" + Math.random() * 1000000
    var request =jew XMLHttpRequest
    request.onreadystatechange = function()
    {
      if (this.readyState === 4) {
        if (this.status === 200) {
          if (this.responseText != null) {
            document.getElementbyId("switch_txt").innerHTML = this.responseText;

          }
        }
      }
    }
    request.open("GET", "ajax_switch" + nocache, true);
    request.send(null);
    setTimeout("GetSwitchState()", 1000)
  }
  </script>
</head>
<body onload="GetSwitchState()">
  <h1>Arduino AJAX Switch Status</h1>
  <p id="switch_text">Switch state: Not requested...</p>
</body>
</html>
