
<button id="setNexties" onclick="setNexties()">
  Set Nexties
</button>

<br>
<br>

<button id="queueNexties" onclick="queueNexties()">
  Put nexties in queue
</button>

<br>
<br>

<div class="col-md-6">


  <!-- prepNexties1() -->

Select player 1:

  <select id="mySelecttt1"  onchange="queuePlayer1()">
    <option value="Bobby">Bobby
    <option value="Shelby">Shelby
    <option value="Zach">Zach
    <option value="Alexandra">Alexandra
    <option value="Andrew">Andrew
    <option value="Caleb">Caleb
    <option value="Cameron">Cameron
    <option value="Casey">Casey
    <option value="Daniel">Daniel
    <option value="Danielle">Danielle
    <option value="Finn">Finn
    <option value="Hayley">Hayley
    <option value="Jake">Jake
    <option value="Jess">Jess
    <option value="John">John
    <option value="Jordan">Jordan
    <option value="Josh">Josh
    <option value="Kerry">Kerry
    <option value="Kenneth">Kenneth
    <option value="Mackenzie">Mackenzie
    <option value="Melissa">Melissa
    <option value="Missy">Missy
    <option value="Nick K.">Nick K.
    <option value="Nick P.">Nick P.
    <option value="Nina">Nina
    <option value="Peter">Peter
    <option value="Reyna">Reyna
    <!-- <option value="Robb">Robb -->
    <!-- <option value="Sam">Sam -->
    <option value="Ty">Ty
    <option value="Wesley">Wesley
  </select>


</div>


<div class="col-md-6">

  <!-- prepNexties2 -->

Select player 2:

  <select id="mySelecttt2" onchange="queuePlayer2()">
    <option value="Bobby">Bobby
    <option value="Shelby">Shelby
    <option value="Zach">Zach
    <option value="Alexandra">Alexandra
    <option value="Andrew">Andrew
    <option value="Caleb">Caleb
    <option value="Cameron">Cameron
    <option value="Casey">Casey
    <option value="Daniel">Daniel
    <option value="Danielle">Danielle
    <option value="Finn">Finn
    <option value="Hayley">Hayley
    <option value="Jake">Jake
    <option value="Jess">Jess
    <option value="John">John
    <option value="Jordan">Jordan
    <option value="Josh">Josh
    <option value="Kerry">Kerry
    <option value="Kenneth">Kenneth
    <option value="Mackenzie">Mackenzie
    <option value="Melissa">Melissa
    <option value="Missy">Missy
    <option value="Nick K.">Nick K.
    <option value="Nick P.">Nick P.
    <option value="Nina">Nina
    <option value="Peter">Peter
    <option value="Reyna">Reyna
    <!-- <option value="Robb">Robb -->
    <!-- <option value="Sam">Sam -->
    <option value="Ty">Ty
    <option value="Wesley">Wesley
  </select>


</div>

<br>
<br>
<div>
  <span id="InWaiting">Choose player</span>
</div>
<div>
  <span id="InWaiting2">Choose player</span>
</div>
<br>
<br>
<div>
  <span id="YoureNext">This person is next</span>
</div>
<br>
<br>
<div>
  <span id="Player1Nexty">player 1</span>&nbsp;vs.
  <span id="Player2Nexty">player 2</span>
</div>
<br>
<br>
<div>
  <span id="Player3Nexty">player 3</span>&nbsp;vs.
  <span id="Player4Nexty">player 4</span>
</div>
<br>
<br>
<div>
  <span id="nextiesQueue">hi</span>

</div>
